@font-face {
  font-family: "Poppins";
  src: url("../Fonts/Poppins-Bold.ttf");
  src: url("../Fonts/Poppins-Bold.eot");
  src: url("../Fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../Fonts/Poppins-Bold.woff2") format("woff2"),
    url("../Fonts/Poppins-Bold.woff") format("woff"),
    url("../Fonts/Poppins-Bold.svg#Poppins-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.main {
  position: absolute;
  width: 1512px;
  height: 982px;
  background: linear-gradient(113deg, #fff 0.28%, rgba(70, 97, 115, 0) 178.65%);
}
.searchBar {
  width: 900px;
  height: 100px;
  flex-shrink: 0;
  margin-left: 259px;
  margin-top: 63px;
}
.searchBarInput {
  width: 900px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #000;
  background: #d9d9d9;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
  font-size: 56px;
  margin-left: 259px;
  margin-top: 63px;
}
.locationTimeDateStyle {
  position: absolute;
  width: 700px;
  height: 400px;
  flex-shrink: 0;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
  border-radius: 30px;
  background: #d9d9d9;
  margin-left: 80px;
  margin-top: 174px;
}
.mainInfosTime {
  height: 229px;
  flex-shrink: 0;
}
.cityStyle {
  color: #292929;
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  margin-left: 210px;
  padding-top: 60px;
}
.timeStyle {
  color: #292929;
  font-family: Poppins;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 0;
  margin-left: 220px;
  padding-top: 40px;
}
.dateStyle {
  color: #292929;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 0;
  margin-left: 180px;
  padding-top: 20px;
}
.weatherDetailsStyle {
  position: absolute;
  width: 800px;
  height: 330px;
  flex-shrink: 0;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  background: #d9d9d9;
  margin-left: 835px;
  margin-top: 174px;
}
.fiveDaysStyle {
  position: absolute;
  width: 600px;
  height: 500px;
  flex-shrink: 0;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.5));
  border-radius: 30px;
  background: #d9d9d9;
  margin-left: 80px;
  margin-top: 640px;
}
.hourlyForecastStyle {
  width: 870px;
  height: 366px;
  flex-shrink: 0;
  border-radius: 30px;
  background: #d9d9d9;
  box-shadow: 10px 10px 4px 0px rgba(0, 0, 0, 0.5);
  margin-left: 835px;
  margin-top: 640px;
}
.mainDetailsStyle {
  margin-left: 40px;
  margin-top: 0px;
  position: absolute;
  width: 204px;
  height: 291px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.iconWeatherStyle {
  position: absolute;
  width: 270px;
  height: 311px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 265px;
  margin-top: 150px;
  text-align: center;
}
.weatherImage {
  position: absolute;
  margin-left: -150px;
  margin-top: -200px;
}
.feelsCelsius {
  margin-left: -15px;
  margin-top: -90px;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 240px;
  height: 49.581px;
}
.inputSearchStyle {
  margin-left: 1150px;
  margin-top: -120px;
  width: 150px;
  height: 150px;
  cursor: pointer;
  background: url(../Images/search.png) 50% 50% no-repeat;
  border: 0;
  font-size: 30px;
}
